.headerContainer {
  width: 100vw;
  display: flex;
  align-items: center; }

.headerClima {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center; }

#climaIcono {
  display: flex;
  justify-content: center; }

.headerContainer img {
  width: 30%;
  height: auto; }

#clima {
  margin: auto; }

@media only screen and (max-width: 520px) {
  .headerContainer img {
    width: 100%;
    height: auto; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;
  font-size: 90%;
  /*font-size 10px por defecto*/
  scroll-behavior: smooth; }

body {
  /*padding-top: 4rem;*/
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 60px;
  /* Margin bottom by footer height */ }

.modal-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.modal-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important; }

.custom-table tbody th,
.custom-table tbody td {
  color: #777;
  font-weight: 400;
  font-weight: 300; }

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
